<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @responder_status.name %>
</p>

<%= link_to 'Edit', edit_responder_status_path(@responder_status) %> |
<%= link_to 'Back', responder_statuses_path %>
